.dividize-dim-cell {
	display: inline-block;
	vertical-align: top;
}

.dividize-hidden {
	display: none;
}

.dividize-dim-data {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
